<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ICP_Regression">
	<parameter name="browser" value="chrome" />
	<test name="API Tests">
		<classes>
			<class name="icp.GetAndPost" />
			<class name="icp.Login" />
			<class name="icp.PutAndPatch" />
		</classes>
	</test>
</suite>